.form-input {
  margin: 5% 0 ;
}

.form-input label {
  display: block;
  margin-bottom: 2%;
  font-size: 24px;
  color: #212121;
}

.form-input input {
  background-color: #ffff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.form-input-color input {
  padding: 5px 24px;
  height: 40px;

}
